<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/css/styles.css">
    <title>PSCASO</title>
  </head>

  <body>
    <div class="container">
        <header>
            <div class="logo">
                <img src="/static/img/logo.png" alt="PCASO Logo">
                <h1>PSCASO</h1>
            </div>
            <nav>
                <ul>
                    <li class="dropdown">
                        <a href="#resources">Resources</a>
                        <div class="dropdown-content">
                            <a href="https://www.sciserver.org/">Server-Side Analysis</a>
                            <a href="https://www.sdss.org/dr18/tutorials/">Tutorial</a>
                            <a href="https://www.sdss.org/education/">Education</a>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a href="#official-links">Official Links</a>
                        <div class="dropdown-content">
                            <a href="https://www.sdss.org/">SDSS Website</a>
                            <a href="https://www.sdss.org/dr17/imaging/">SDSS Imaging Data</a>
                            <a href="https://skyserver.sdss.org/public/en/help/docs/api.aspx">SDSS Public API</a>
                        </div>
                    </li>
                    <li><a href="https://skyserver.sdss.org/dr18/">Data Sources</a></li>
                </ul>
            </nav>
        </header>
        
        <section class="hero">
            <div class="hero-content">
                <h2>Unlocking the Secrets of the Universe</h2>
                <p>Explore the cosmos through classification and analysis of photometric data of Stars, Galaxies, and Quasars using Machine Learning.</p>
                <a href="#" class="cta-button">Start Exploring</a>
            </div>
        </section>
        
        <section class="features">
            <a href="/background" class="feature" target="_blank">
                <div class="feature-content">
                    <img src="/static/img/hubble.png" alt="Background Icon">
                    <h3>Background</h3>
                    <p>Discover SDSS and various stellar objects to learn how they help in exploring the universe.</p>
                </div>
            </a>
            <div class="feature" id="tools">
                <div class="feature-content">
                    <img src="/static/img/tools.png" alt="Tools Icon">
                    <h3>Tools</h3>
                    <p>Analyze SDSS Data Releases and classify your own data using our advanced tools.</p>
                </div>
                <div class="tool-options">
                    <a href="/edaizer" class="tool-option" target="_blank">EDAizer</a>
                    <a href="/classifier" class="tool-option" target="_blank">Classifier</a>
                </div>
            </div>
            <div class="feature" id="tools">
                <div class="feature-content">
                    <img src="/static/img/research.png" alt="Tools Icon">
                    <h3>Research</h3>
                    <p>Review our research paper and documentation on SDSS data analysis and classification.</p>
                </div>
                <div class="tool-options">
                    <a href="/research" class="tool-option" target="_blank">Research Paper</a>
                    <a href="/documentation" class="tool-option" target="_blank">Documentation</a>
                </div>
            </div>
        </section>
    </div>
    
    <footer>
        <p>&copy; 2024 PSCASO. By Vignesh and Zainab</p>
    </footer>
</body>
</html>
