<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/viewer.css">
    <title>Research Paper</title>
</head>
<body>
    <div class="container">
        <header>
            <h1>Research Paper</h1>
        </header>
        <embed src="/static/docs/Research_Paper.pdf#toolbar=0" type="application/pdf" width="80%" height="80%" />
        <footer>
            <p>
                You can access this research paper in our <a href="#Github" target="_blank">gitub</a> repository here.
            </p>
        </footer>
    </div>
</body>
</html>